@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

footer{
	margin-top: 1em;
	text-align: right;
}

/* All epigraphs */
[epub|type~="epigraph"]{
	font-style: italic;
	hyphens: none;
	-epub-hyphens: none;
}

[epub|type~="epigraph"] cite{
	font-style: normal;
	font-variant: small-caps;
	margin-top: 1em;
}
/* End all epigraphs */

/* Epigraphs in section headers */
article > header [epub|type~="epigraph"]{
	display: inline-block;
	margin: auto;
	max-width: 80%;
	text-align: initial;
}

article > header [epub|type~="epigraph"] + *{
	margin-top: 3em;
}

@supports(display: table){
	article > header [epub|type~="epigraph"]{
		display: table;
	}
}
/* End epigraphs in section headers */

[epub|type~="z3998:poem"] p,
[epub|type~="z3998:song"] p,
[epub|type~="z3998:verse"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:poem"] p > span,
[epub|type~="z3998:song"] p > span,
[epub|type~="z3998:verse"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:poem"] p > span + br,
[epub|type~="z3998:song"] p > span + br,
[epub|type~="z3998:verse"] p > span + br{
	display: none;
}

p span.i1{
	padding-left: 2em;
	text-indent: -1em;
}

[epub|type~="dedication"]{
	font-variant: small-caps;
	text-align: center;
}

[epub|type~="dedication"] b{
	text-transform: uppercase;
}

[epub|type~="z3998:salutation"]{
	font-variant: small-caps;
}

#the-tale-of-peter-rabbit > p > span{
	display: block;
	margin: .5em 3em;
	text-indent: 0;
}

#the-tale-of-peter-rabbit span > span{
	display: block;
}

#the-tale-of-peter-rabbit span > span:nth-child(1){
	padding-left: 9em;
}

#the-tale-of-peter-rabbit span > span:nth-child(2){
	padding-left: 6em;
}

#the-tale-of-peter-rabbit span > span:nth-child(3){
	padding-left: 3em;
}

#the-tailor-of-gloucester [epub|type~="dedication"]{
	font-variant: normal;
	text-align: initial;
}

#the-tailor-of-gloucester > blockquote:last-of-type{
	font-size: .75em;
	font-variant: all-small-caps;
	text-align: center;
}
